@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,100;1,400;1,500&family=Peralta&family=Signika:wght@700&display=swap');

.header{
    width: 102%;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    top: 0px;
    left: -12px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 5;
     filter: blur(0px);
    -webkit-filter: blur(0px);
}
#img-1{
    height:112px;
    width: 228px;
    margin-left: 85px;
}
h5{
    margin-left:618px;
    margin-top: -39px;
    color: #000000;
    font-family: 'Signika', sans-serif;
}
#a1{
    margin-left:518px;
    margin-top:-69px;
    color: #000000;
    font-family: 'Signika', sans-serif;
}
#a2{
    margin-left:766px;
    margin-top: -41px;
    color: #000000;
    font-family: 'Signika', sans-serif;
}
#a3{
    margin-left:876px;
    margin-top: -39px;
    color: #000000;
    font-family: 'Signika', sans-serif;
}
#a4{
    margin-left:992px;
    margin-top: -41px;
    color: #000000;
    font-family: 'Signika', sans-serif;
}
.btn{
    color:#363636;
    font-family: 'Signika', sans-serif;
    background-color: #ffffff;
    position: absolute;
    top:31px;
    left:1105px;
    width:167px;
    height: 34px; 
    border-radius: 6px; 
    border:#363636 2px solid ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.btn:hover{
    background-color:#363636;
    color: white;
}
  
.row{
    width: 102%;
    height:801px;
    margin-left: -8px;
   
   
}
/* rgba(247,247,247,255) */
#l-1{
    color: #cccdc6;
    font-family: 'Signika', sans-serif;
    margin-left:147px;
    margin-top:-489px;
    font-size: 50px;
}
#P1{
    margin-left: -115px;
}
#u1{
    margin-left: -89px;
}
.logo{
    background-color: rgba(247,247,247,255);
   height: 400px;
   width: 102%;
   margin-left:-8px ;   
}
.cn{
    height: 99px;
    width: 99px;
   
}
.donet{
    margin-top: 138px;
    margin-left:316px;
}
.fine{
    margin-top: 138px;
    margin-left:164px;
}
.combo{
    margin-top: 138px;
    margin-left:164px;
}
.delivery{
    margin-top: 138px;
    margin-left:164px;
}

.qw{
    font-family:'Signika', sans-serif; 
}
.egg{
    margin-top: 15px;
    margin-left: 288px;
}
.finest{
    margin-top: -43px;
    margin-left: 557px;
}
.exite{
    margin-top: -43px;
    margin-left: 817px;
}
.free{
    margin-top: -43px;
    margin-left:1112px;
}
.para{
    height: 400px;
    width: 102%;
    margin-left:-8px ;   
    background-color: rgba(247,161,26,255);
}
.img-3{
    height: 400px;
    width: 494px;
}
#l-2{
    color: #ffffff;
    font-family: 'Signika', sans-serif;
    margin-left:906px;
    margin-top:-307px;
    font-size: 58px;
}
   #m-1{
    margin-left:23px;
   }
   #m-2{
    margin-left:95px;
   }
   .dis{
    width: 85%;
    margin-left: 107px;
    height: 2232px;
    background-color: #fffefe;
   }
   .head{
    font-family: 'Signika', sans-serif;
    
   }
   .head-1{
    font-size: 58px;
    color: #870000 ;
  
   }
 #img-4{
    /* height:200px ;
    width: 100px; */
    margin-left:708px;
    margin-top: 120px;
 }  
 #img-5{
    
    margin-left:0px;
    margin-top: 50px;
 }
 #img-6{
    
    margin-left:708px;
    margin-top: 50px;
 }
 .head-2{
    font-size: 40px;
    margin-left:29px ;
    margin-top: -1971px;
    color:#870000  ;
   }
   .sub-1{ 
    margin-left:29px ;
    margin-top: -30px;
    font-family: 'Signika', sans-serif;
    color:#870000 ;
   }
   .head-3{
    font-size: 20px;
    margin-left:29px ;
    color:#000000 ;
   }
   .head-4{
    font-size: 40px;
    margin-left:486px ;
    margin-top: 190px;
    color:#870000 ;
   }
   .sub-2{ 
    margin-left:488px ;
    margin-top: -30px;
    font-family: 'Signika', sans-serif;
    color:#870000 ;
   }
   .head-5{
    font-size: 20px;
    margin-left:488px ;
    margin-top: -3px;
   }

   .head-6{
    font-size: 40px;
    margin-left:0px ;
    margin-top: 190px;
    color:#870000 ;
   }
   .sub-3{ 
    margin-left:0px ;
    margin-top: -30px;
    font-family: 'Signika', sans-serif;
    color:#870000 ;
   }
   .head-7{
    font-size: 20px;
    margin-left:opx ;
    margin-top: -3px;
   }

   .head-8{
    font-size: 40px;
    margin-left:486px ;
    margin-top: 190px;
    color:#870000 ;
   }
   .sub-4{ 
    margin-left:488px ;
    margin-top: -30px;
    font-family: 'Signika', sans-serif;
    color:#870000 ;
   }
   .head-9{
    font-size: 20px;
    margin-left:488px ;
    margin-top: -3px;
   }
   
   .head-10{
    font-size: 40px;
    margin-left:0px ;
    margin-top: 190px;
    color:#870000 ;
   }
   .sub-5{ 
    margin-left:0px ;
    margin-top: -30px;
    font-family: 'Signika', sans-serif;
    color:#870000 ;
   }
   .head-11{
    font-size: 20px;
    margin-left:opx ;
    margin-top: -3px;
   }
   .head-12{
    font-size: 40px;
    margin-left:486px ;
    margin-top: 190px;
    color:#870000 ;
   }
   .sub-6{ 
    margin-left:488px ;
    margin-top: -30px;
    font-family: 'Signika', sans-serif;
    color:#870000 ;
   }
   .head-13{
    font-size: 20px;
    margin-left:488px ;
    margin-top: -3px;
   }
   .shop-1{
  background-color: #fff9f9;
    width: 102%;
    height:510px;
    margin-left: -8px;
    display: flex;
    justify-content: space-around;
   }
.pro{
    width: 25.33%;
    opacity: 0.5;
    height:470px;
    border-radius:6px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pro:hover{
    opacity: 1.0;
}
.pro-1{
    background-color: white;
   
}
.pro-2{
    background-color: white;
}
.pro-3{
    background-color: white;
}
.shop-2{
    background-color: #ffffff;
      width: 102%;
      height:510px;
      margin-left: -8px;
      display: flex;
      justify-content: space-around;
     }
  .prod{
      width: 25.33%;
      height:470px;
      opacity: 0.5;
      border-radius:6px ;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .prod:hover{
    opacity: 1.0;
  }
  .pro-4{
      background-color: white;
  }
  .pro-5{
      background-color: white;
  }
  .pro-6{
      background-color: white;
  }
  #g-1{
    font-family: 'Signika', sans-serif;
    color: #363636;
    font-size: xx-large;
    text-align: center;
  }
  .img-7{
    width: 98.33%;
    height: 286px;
    margin-top: 5px;
  }
  .box{
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    color: #363636;
    margin-left: 16px;
    margin-top: -26px ;
  }
  .btnn{
    font-family: 'Signika', sans-serif;
    background-color: #363636;
    color: white;
    height: 38px;
    width: 126px;
    margin-top: 5px; 
    margin-left: 245px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    border: none;
  }
  .btnn:hover{
    background-color: #870000;
  }
.bow-1{
    text-align: center;
    font-family: 'Signika', sans-serif;
    color: #363636;
    margin-top: 30px;
}
.fot{
    width: 224px;
    height: 103px;
}
.h-1{
    margin-left:335px;
    margin-top: -21px;
    margin-right:251px;
}

footer{
    background-color: #363636;
    width: 102%;
    margin-left: -8px;
    font-size: 15px;
}

span{
    font-family: 'Signika', sans-serif; 
    color: white; 
    
}
#a11{
    margin-left:120px; 
}
#a15{
    margin-left: 22px; 
}
#a12{
    margin-left: 22px; 
}
    #a13{
        margin-left: 22px; 
    }
    #a14{
        margin-left:22px; 
    }
    #a16{
        margin-left:120px; 
    }
    .fa-instagram{
        margin-left: 907px;  
    }
    .fa-twitter{
        margin-left: 20px;  
    }
    .fa-facebook{
        margin-left: 20px;  
    }