div{
    width: 102%;
    height: 130px;
    background-color: #363636;
    margin-top: -8px;
    margin-left: -8px; 
   
}
img{
    height: 130px;
    width: 222px;
    margin-left: 100px;
}
h3{
    margin-left: 433px;
    margin-top: -84px;
    color: #bd9d77;
}